.page-center {
	width: 100px;
	height: 100px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.form-title:hover {
  background-color: #F4F6F6;
  cursor: text;
}

.form-builder-col-spacing {
  margin-bottom: 8px;
}
